<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">
       
    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>
    
    <import resource="classpath*:/applicationContext-resources.xml" />
    
	<import resource="classpath*:/applicationselectorContext.xml" />

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="net.tot3g.omclient"/>

    <!-- Add new DAOs here -->
     <bean id="applicationconfigDao" class="net.tot3g.omclient.dao.jdbc.ApplicationConfigJdbcDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
     <bean id="config_endpointDao" class="net.tot3g.omclient.dao.jdbc.Config_EndpointJdbcDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
     <bean id="ws_Mvno_Dao" class="net.tot3g.omclient.dao.jdbc.WS_Mvno_JdbcDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>    
    
    <bean id="ws_transaction_sms" class="net.tot3g.omclient.dao.jdbc.WS_Transaction_SMSJdbcDao">
        <property name="dataSource" ref="dataSource"></property>
    </bean>    
    
    <!-- Add new Managers here -->
    
    <!-- Add new Connector here -->
     
    <!-- SIM Management -->
     
    <bean id="simmconnector" class="net.tot3g.omclient.connector.SIMM.SIMMConnectorImpl"></bean> 

	<!-- ALUIN Management -->
	
	<bean id="aluin_hds_connection" class="net.tot3g.omclient.connector.common.HTTPConnector">
    	<property name="sourcesystem" value="aluin_hds_connection"></property>      	
    </bean> 
    
    <bean id="ALUINConnector" class="net.tot3g.omclient.connector.common.SOAPConnector" >		
	 	<property name="sourcesystem" value="ALUINConnector"></property>  
	</bean>
	
    <bean id="ALUINBucketConnector" class="net.tot3g.omclient.connector.common.SOAPConnector" >		
		 <property name="sourcesystem" value="ALUINBucketConnector"></property>  
	</bean>
	
	<bean id="cgwinConnector" class="net.tot3g.omclient.connector.ALUIN.CGWINConnectorALUINImpl"></bean>
	
	<bean id="jsonconnector" class="net.tot3g.omclient.connector.INTERNAL.JSONConnectorImpl"></bean>	
	
	<!-- WebService Controller -->
	
	<bean id="pcrfController" class="net.tot3g.omclient.controller.impl.PCRFControllerImpl"></bean>
	
	<!-- Utils -->
	
	<bean id="sms" class="net.tot3g.omclient.util.SendSMS"></bean>
    
</beans>