<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
    
    <!-- For mail settings and future properties files -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:mail.properties</value>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!-- JNDI DataSource for J2EE environments -->
    <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/appfuse"/>-->

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="3"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean>
    
    <!-- 
    
     <bean id="dataSourceOM" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbcom.driverClassName}"/>
        <property name="url" value="${jdbcom.url}"/>
        <property name="username" value="${jdbcom.username}"/>
        <property name="password" value="${jdbcom.password}"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean>    
    
     -->        
     
     <bean id="dataTOTOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://172.30.190.31/omwebdb" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
        <property name="connectionProperties" value="useUnicode=true;characterEncoding=UTF-8"/>
    </bean>          
    
     <bean id="dataLoxleyOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/loxley" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean>   
    
     <bean id="dataIecOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/iec" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean>  

    <bean id="dataPenguinOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/penguin" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean>    
    
    <bean id="datamyworldOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/myworld" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean> 
    
    <bean id="datafeelOMWeb" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/feel" />
        <property name="username" value="root"/>
        <property name="password" value="tot3G.net"/>
        <property name="maxActive" value="100"/>
        <property name="initialSize" value="50"></property>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="validationQuery" value="select 1 from dual"></property>
        <property name="testOnBorrow" value="true"></property>
    </bean> 
		

</beans>
